## Data Engineering

The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.

Create a Jupyter Notebook file called data_engineering.ipynb and use this to complete all of your Data Engineering tasks.

Use Pandas to read in the measurement and station CSV files as DataFrames.

Inspect the data for NaNs and missing values. You must decide what to do with this data.

Save your cleaned CSV files with the prefix clean_.

In [12]:
# Remove database and remove files from prior runs
!del hawaii.sqlite cleaned_measurements.csv

Could Not Find C:\Users\Ray\Documents\GitHub\ucbsan201801data\homework\Week11\hawaii.sqlite

In [13]:
#Dependencies
import pandas as pd
import numpy as np
import os

In [14]:
# Assign CSV files to variables
csvfile_measurements = "hawaii_measurements.csv"
csvfile_stations = "hawaii_stations.csv"

In [15]:
# Read CSV file into panda Dataframes
df_measurements = pd.read_csv(csvfile_measurements, dtype=object)
df_stations = pd.read_csv(csvfile_stations, dtype=object)

In [16]:
#Preview Dataframe for Hawaii measurements
df_measurements.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-06   NaN   73

In [17]:
df_measurements = df_measurements.dropna(axis=0)
df_measurements.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
5  USC00519397  2010-01-07  0.06   70

In [18]:
# Preview Dataframe for Hawaii stations
df_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [19]:
# Save the cleaned data to a file called `cleaned_measurements.csv`
new_measurements_csv = "cleaned_measurements.csv"
df_measurements.to_csv(new_measurements_csv, index=False)