## Database Engineering

Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.

Create a Jupyter Notebook called database_engineering.ipynb and use this to complete all of your Database Engineering work.

Use Pandas to read your cleaned measurements and stations CSV data.

Use the engine and connection string to create a database called hawaii.sqlite.

Use declarative_base and create ORM classes for each table.

You will need a class for Measurement and for Station.
Make sure to define your primary keys.
Once you have your ORM classes defined, create the tables in the database using create_all.

In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [2]:
# Assign CSV files to variables
measurements_csv = 'cleaned_measurements.csv'
stations_csv = 'hawaii_stations.csv'

In [4]:
# Read CSV to dataframes
measurements_df = pd.read_csv(measurements_csv)
stations_df = pd.read_csv(stations_csv)

In [19]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [7]:
#Class definition for Hawaii measurements data frame

Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'measurements'
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    precipitation = Column(Float)
    temperature = Column(Float)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [9]:
#Class definition for Hawaii stations data frame
class Station(Base):
    __tablename__ = 'stations'
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [10]:
# Create engine to SQLLite database file
engine = create_engine('sqlite:///hawaii.sqlite')

In [11]:
# Create a connection called conn
conn = engine.connect()

In [12]:
# Model demographics table as ORM class
Base.metadata.create_all(engine)

In [13]:
session = Session(bind=engine)

In [14]:
# Convert dataframe to SQL database
measurements_df.to_sql(con=engine, name='measurement', if_exists='append', index=False)

In [15]:
# Convert dataframe to SQL database
stations_df.to_sql(con=engine, name='station', if_exists='append', index=False)

In [16]:
#Validate that the SQL database was created
conn.execute("select * from Measurement limit 5").fetchall()

[('USC00519397', '2010-01-01', 0.08, 65),
 ('USC00519397', '2010-01-02', 0.0, 63),
 ('USC00519397', '2010-01-03', 0.0, 74),
 ('USC00519397', '2010-01-04', 0.0, 76),
 ('USC00519397', '2010-01-07', 0.06, 70)]

In [17]:
# Validate that the SQL database was created
conn.execute("select * from Station limit 5").fetchall()

[('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]